---
import Post from '../../layouts/Post.astro';

---
<Post postTitle="Reading Notes: The Dream Thieves" description="Venturing into the surreal.">
  <h3 slot="opening-note">Book 2 of Maggie Stiefvater's Raven Cycle.</h3>
  <p slot="quote-section">
    <q>“He was unbroken and entire, and then that wholeness was stolen by that thief, the knife.”</q>
  </p>
  <p slot="note-section">I would rate this book five stars. It was a surreal, incrdible masterpiece.</p>
</Post>