---
import Post from '../../layouts/Post.astro';
---
<Post postTitle="Reading Notes: How Much of These Hills is Gold" description="A foray into experimental prose set in Gold Rush USA.">
  <h3 slot="opening-note"> A debut novel, highly acclaimed. Historical Fiction. </h3>
  <p slot="quote-section">
    <q>
        “They let the name for themselves drop down the cracks in their sleep, with a child’s trust that there is always more the next day: more love, more words, more time, more places to go with the shapes of their parents in the wagon seat, the sway and creak of travel lulling them to sleep.”
    </q>
    <q>
        “[The unwritten history] prowls the edges of her vision, and animal just beyond the campfire’s glow. That history speaks not in words but in roar and beat and blood. It made Lucy as the lake made gold.”
    </q>
  </p>
  <p slot="note-section">Some historical inconsistencies, and I finished feeling confused about some of the characters, but the writing did it for me. It feld very sweeping and evocative! </p>
</Post>