body {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: europa, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 2rem;
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3rem;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: black;
  color: white;
  padding: 10px;
  position: fixed;
  top: 0%;
  width: 100%;
}
a:link,
a:visited {
  color: white;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  padding: 0.5rem 1rem;
  color: white;
  background-color: black;
  text-decoration: none;
  position: fixed;
  bottom: 0;
  width: 100%;
}

main {
  margin: 5rem;
}
hgroup {
  width: 25rem;
  margin: auto;
  text-align: center;
  background-color: white;
  color: black;
  font-size: 20px;
  border: 2px solid black;
  box-shadow: 10px 10px black;
}

.blog-card {
  /*making the blog articles appear as separate cards*/
  background-image: linear-gradient(#f72585, #4cc9f0);
  border-radius: 15px;
  padding: 20px;
  margin-top: 20px;
  /*makes blog article description appear when you hover over it*/
  /*placing text over parent container (image)*/
  position: relative;
  float: left;
  margin-right: 10px;
  text-align: center;
  a {
    padding: 0.5rem;
    border: 2px solid black;
    color: black;
    background: white;
    text-transform: uppercase;
    box-shadow: 5px 5px 0px 0px black;
  }
}
